@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@font-face {
  font-family: 'Alike';
  src: url('/fonts/alike-regular.ttf') format('ttf'),
       url('/fonts/alike-regular.ttf') format('ttf');
  /* Add more font formats if needed */
  font-weight: normal;
  font-style: normal;
}


/* remove scrollbar */
::-webkit-scrollbar {
  display: none;
}



@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  /* Apply gradient animation to the body */
  background: linear-gradient(to bottom left, #f2aa7e, #f5ac72, #f8bd7f, #facfad, #3e4e50);
  background-size: 400% 400%;
  animation: gradientAnimation 30s ease infinite;
  padding: 2rem;
  border-radius: 8px;

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* make a body for the login where the size of the background is 100vh */
